<div class="container mt-3">
    <h2 class="title" i18n>Welcome to the clinic`s web site!</h2>
</div>

<div class="container mt-3 border-bottom border-top hero">
    <div class="row">

        <div class="col-md-6">
            <img src="assets/logo.jpg" alt="logo" class="img-fluid">
        </div>
        
        <div class="col-md-6">
            <h2 i18n>Here you can manage staff, </h2>
            <p i18n>Navigate to the "staff" page to see the options</p>
            
            <h2 i18n></h2>
            <p i18n>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae expedita nostrum mollitia consequatur harum veritatis 
                laborum odit suscipit, accusantium dolores ipsa nobis tempore distinctio illo assumenda facilis deleniti commodi.</p>

            <p i18n>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae expedita nostrum mollitia consequatur harum veritatis 
                laborum odit suscipit.</p>

            <h2 i18n>... animals</h2>
            <p i18n>And their owners in the system. Navigate to the "animals" page to see the options</p> 
            
            <h2 i18n></h2>
            <p i18n>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae expedita nostrum mollitia consequatur harum veritatis 
                laborum odit suscipit, accusantium dolores ipsa nobis tempore distinctio illo assumenda facilis deleniti commodi.</p>

            <p i18n>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae expedita nostrum mollitia consequatur harum veritatis 
                laborum odit suscipit, accusantium dolores ipsa nobis tempore distinctio illo assumenda facilis deleniti commodi.</p>

            <h2 i18n>... and appointments to the procedures.</h2>
            <p i18n>Navigate to the "appointments" page to see the options</p>
            <p i18n>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae expedita nostrum mollitia consequatur harum veritatis 
                laborum odit suscipit.</p>

        </div>
    </div>
</div>
